<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:ftp.properties"/>

    <bean id="ftpDelete" class="com.myproj.ftp.FtpDelete">
        <property name="remoteDeleteFilePath" value="${remoteDeleteFilePath}"/>
    </bean>

    <bean id="ftpDownload" class="com.myproj.ftp.FtpDownload">
        <property name="remoteDownloadFilePath" value="${remoteDownloadFilePath}"/>
        <property name="localDownloadFilePath" value="${localDownloadFilePath}"/>
    </bean>

    <bean id="ftpUpload" class="com.myproj.ftp.FtpUpload">
        <property name="remoteUploadFilePath" value="${remoteUploadFilePath}"/>
        <property name="localUploadFilePath" value="${localUploadFilePath}"/>
    </bean>

    <bean id="ftpUtil" class="com.myproj.tools.FtpUtil">
        <property name="host" value="${host}"/>
        <property name="account" value="${account}"/>
        <property name="password" value="${password}"/>
        <property name="timeOut" value="${timeOut}"/>
        <property name="reTryTimes" value="${reTryTimes}"/>
    </bean>

</beans>